@model Bookstore.Infrastructure.DTO.BookAllDetails;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1 class="display-4">@Model.BookTitle</h1>
@{
    <div class="row mt-5 mb-2">
        <div class="col-6 mb5">
            <img src="~/img/default.png" />
        </div>
        <div class="col-6 mb5">

            <p>Author: @Model.AuthorName @Model.AuthorSurname</p>
            <p>Genre: @Model.GenreName</p>
            <p>Price: @Model.Price</p>

            <p>NumberOfPages: @Model.NumberOfPages</p>
            <p>Publisher: @Model.PublisherName</p>
            <p>Weight: @Model.Weight</p>
            <p>PublicationYear: @Model.PublicationYear</p>
            <p>Description: @Model.Description</p>
            <form asp-action="AddToOrder"
                  asp-route-bookTitle="@Model.BookTitle"
                  asp-route-authorName="@Model.AuthorName"
                  asp-route-authorSurname="@Model.AuthorSurname">
                <input type="submit" value="Add To Order" class="btn btn-outline-dark" />
            </form>
        </div>
    </div>
}
