@model List<Bookstore.Infrastructure.DTO.OrderItemDetails>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1 class="display-4">Ordered Items</h1>
@{
    <div class="row mt-5 mb-2">
        <div class="col-6 mb5">
            <img src="~/img/default.png" />
        </div>
        <div class="col-6 mb5">
            @foreach (var item in Model)
            {
                <p>Title: @item.Book.BookTitle</p>
                <p>Author: @item.Book.AuthorName @item.Book.AuthorSurname</p>
                <p>Genre: @item.Book.GenreName</p>
                <p>Price: @item.Book.Price</p>
                <p>Quantity: @item.Quantity</p>
                <p>Book's Overal Price: @item.Book.Price * @item.Quantity</p>
                <form asp-action="RemoveFromOrder"
                      asp-route-bookTitle ="@item.Book.BookTitle"
                      asp-route-authorName="@item.Book.AuthorName"
                      asp-route-authorSurname="@item.Book.AuthorSurname">
                      <input type="submit" value="Remove" class="btn btn-danger"/>
                </form>

                @*<p>NumberOfPages: @item.Book.NumberOfPages</p>
                    <p>Publisher: @item.Book.PublisherName</p>
                    <p>Weight: @item.Book.Weight</p>
                    <p>PublicationYear: @item.Book.PublicationYear</p>
                    <p>Description: @item.Book.Description</p>*@
            }
            <h1>Total Sum: @Model.Sum(item => item.Book.Price * item.Quantity)</h1>

            <form asp-action="SubmitOrder">
                <label for="userName">Name</label><br />
                <input type="text" name="name" id="user_name"/><br />

                <label for="userSurname">Surname</label><br />
                <input type="text" name="surname" /><br />

                <label for="email">Email</label><br />
                <input type="text" name="email" /><br />

                <label for="number">Number</label><br />
                <input type="text" name="number" /><br />

                <input type="submit" value="Submit Order" class="btn btn-outline-success" id="submit_input"/>
            </form>
        </div>
    </div>
}